force-app/main/default/flows/update_Quantity_After_StageName_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Init_Has_Stock_Issue</name>
        <label>Init Has Stock Issue</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Has_Problem_InStock</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_quantity_Issues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Product</name>
        <label>Init Product</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Product_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_quantity_Issues.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Record.QuantityInStock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_To_Update_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_quantity_Issues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Quantity_Issues</name>
        <label>Check_Quantity_Issues</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Search_quantity_Issues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Quantity_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_quantity_Issues.Insufficient_Stock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_Has_Stock_Issue</targetReference>
            </connector>
            <label>Has Quantity Issues</label>
        </rules>
        <rules>
            <name>No_Quantity_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_quantity_Issues.Insufficient_Stock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_Product</targetReference>
            </connector>
            <label>No Quantity Issues</label>
        </rules>
    </decisions>
    <decisions>
        <name>choose_object_to_update</name>
        <label>choose object to update</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Update_Quantity_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update products</defaultConnectorLabel>
        <rules>
            <name>Update_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_Problem_InStock</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunity</targetReference>
            </connector>
            <label>Update Opp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>new_quantity</name>
        <dataType>Number</dataType>
        <expression>{!Search_quantity_Issues.Product2.QuantityInStock__c} -{!Search_quantity_Issues.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update quantity after stage closed won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update Quantity After StageName Closed Won</label>
    <loops>
        <name>Search_quantity_Issues</name>
        <label>Search quantity Issues</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opportinity_Line_With_Issues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Quantity_Issues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>choose_object_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportinity_Line_With_Issues</name>
        <label>Get Opportinity Line With Issues</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_quantity_Issues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opportunity</name>
        <label>Update opportunity</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Has_Stock_Issue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quantity_Product</name>
        <label>Update Quantity Product</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputReference>List_To_Update_Products</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportinity_Line_With_Issues</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Has_Problem_InStock</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>List_OppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>List_To_Update_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
